<div class="login-bg">
  <div class="login-card">
    <div class="login-title">Forgot Password</div>
    <div class="login-subtitle">
      Enter your email address and we'll send you a link to reset your password.
    </div>

    <form (ngSubmit)="requestReset()" #form="ngForm" aria-labelledby="title">
      <div class="form-row">
        <label for="input-email">Email Address:</label>
        <input nbInput
               fullWidth
               [(ngModel)]="email"
               name="email"
               id="input-email"
               placeholder="Enter your email"
               type="email"
               required
               [status]="emailField.invalid && emailField.touched ? 'danger' : ''"
               #emailField="ngModel">
        <div *ngIf="emailField.invalid && emailField.touched" class="error-msg">
          Email is required!
        </div>
      </div>

      <button nbButton fullWidth status="primary" class="login-btn" [disabled]="!form.valid" (click)="onNavigateToLogin()">
        Send
      </button>
    </form>

    <div class="login-footer">
      <a routerLink="/auth/login">Back to Log In</a>
      <a routerLink="/auth/register">Register</a>
    </div>
  </div>
</div>
