.action-btn {
    color: #70ad47;
    border-radius: 8px;
    -moz-transition: background 0.2s ease-in;
    -o-transition: background 0.2s ease-in;
    -webkit-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
  }
  
  .action-btn:hover {
    background: #70ad4742;
  }
  
  .back {
    background: rgba(241, 243, 244, 0.871);
  }
  